<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>

<div>
  <h1>
    <p>
      <a href="http://localhost:8080/users">Users</a>
    </p>
  </h1>

</div>

<div>
  <h1>
    <p>
      <a href="http://localhost:8080/accounts">accounts</a>
    </p>
  </h1>

</div>

<div>
  <h1>
    <p>
      <a href="http://localhost:8080/accounts/createAccount">Create Accounts</a>
    </p>
  </h1>

</div>

<div>
  <h1>
    <p>
      <a href="http://localhost:8080/accounts/linkUserToAccount">Link User to Account</a>
    </p>
  </h1>

</div>
<div>
  <h1>
    <p>
      <a href="http://localhost:8080/users/createUser">Create User</a>
    </p>
  </h1>

</div>

</body>
</html>