<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Link User to Account</title>
</head>
<body>
<div>
  <h1>
    <p>
      <a href="http://localhost:8080/home">Home</a>
    </p>
  </h1>

</div>

<form th:action="@{/accounts/linkUser}" method="post">
  <div>
    <label for = "AccountId" >Account Id:</label>
    <input type="number" name = "accountId" id = "AccountId">
  </div>

  <div>
    <label for="UserId">User Id: </label><input type="number" name = "userId" id = "UserId">

  </div>

  <div>
    <input type = "submit" value="Submit">
  </div>
</form>

</body>
</html>